option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    NPM_USE_PRODUCTION: "true"
    NPM_CONFIG_AUDIT: "false"
    NPM_CONFIG_FUND: "false"
    NPM_CONFIG_PROGRESS: "false"
  aws:elasticbeanstalk:command:
    Timeout: "3600"

container_commands:
  01_apply_database_migrations:
    command: "npm run db:deploy --workspace @careology/api"
    leader_only: true
