DATABASE_URL="postgresql://careology:careology@localhost:5433/careology_todo?schema=public"
PORT=4000
JWT_SECRET="replace-with-a-secure-32-character-minimum-secret"
JWT_EXPIRES_IN="1h"
WEATHER_API_KEY=""
WEATHER_API_BASE_URL="https://api.weatherapi.com/v1"
